@import 'core/reset';
@import 'core/variables'; 

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}

.logoSponsor {
  order: 1;
}

.header__nav {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center; /* Centra los elementos de header__nav */
}

.header .header__brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 7px 5px;
  gap: 7px;
}

.header .header__companyLogo {
  height: 31px;
  color: var(--color-white);
}

.header .header__title {
  font: var(--font-title-brand);
  text-transform: capitalize;
  color: var(--color-white);
}


  
